<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SINCO_SolidEdeg_1._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Esta seção define a configuração de log para My.Application.Log-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Descomente a seção abaixo para escrever um Evento de Log da Aplicação -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Descomente a seção abaixo e substitua APPLICATION_NAME pelo nome do seu aplicativo para escrever no Log de Eventos do Aplicativo -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SINCO_SolidEdeg_1._0.My.MySettings>
      <setting name="MySqlBancoDados" serializeAs="String">
        <value>C:\Users\adm\Desktop\Estrutura padrão Lynx\005-ORDEM DE SERVIÇO</value>
      </setting>
      <setting name="MysqlEndereco" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlUsuario" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlSenha" serializeAs="String">
        <value />
      </setting>
      <setting name="BancoDadosAtivo" serializeAs="String">
        <value />
      </setting>
      <setting name="TipoConexao" serializeAs="String">
        <value />
      </setting>
      <setting name="EnderecoImagens" serializeAs="String">
        <value />
      </setting>
      <setting name="EnderecoPastaRaizOS" serializeAs="String">
        <value />
      </setting>
      <setting name="EnderecoTemplateExcel" serializeAs="String">
        <value />
      </setting>
      <setting name="ParametroExportarDXF" serializeAs="String">
        <value />
      </setting>
      <setting name="ProgramaRM" serializeAs="String">
        <value />
      </setting>
      <setting name="UsuarioLogado" serializeAs="String">
        <value />
      </setting>
      <setting name="SenhaUsuarioLogado" serializeAs="String">
        <value />
      </setting>
      <setting name="chkAcabamentoObrigatorio" serializeAs="String">
        <value />
      </setting>
      <setting name="TravarEmissaoOS" serializeAs="String">
        <value />
      </setting>
      <setting name="PlanilhaModeloLantek" serializeAs="String">
        <value />
      </setting>
    </SINCO_SolidEdeg_1._0.My.MySettings>
  </userSettings>
</configuration>
